<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>详情</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/info.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/iconfont.css">
	<script src="__PUBLIC__/Home/js/jquery-3.2.0.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
</head>
<body>
	<div class="info-tal">
		<img src="http://dbshop.com/{$lists.image}" alt="">
		<div class="tal-content">
			<img src="__PUBLIC__/Home/images/e744caf891a279a.jpg" alt="">
		</div>
	</div>
	<div class="info-list">
		<div>
			<img src="__PUBLIC__/Home/images/file-1499333010-0.jpg" alt="">
		</div>
		<div>
			<img src="__PUBLIC__/Home/images/file-1519880512-2.jpg" alt="">
		</div>
	</div>

	<form  method="post">
		<div class="new-buy">
			<div class="box-buy">
				<div class="buy-list clearfix">
					<img src="http://dbshop.com/{$lists.image}" alt="">
					<div class="buy-info">
						<p class="buy-title">{$lists.goods_name}</p>
						<p class="buy-price">￥<?php echo $p = sprintf("%0.2f",$lists['price']/100); ?></p>
						<p class="buy-wrap">满88.0包邮</p>
						<p class="buy-select">已选第一个</p>
					</div>
				</div>

				<input type="hidden" name="goods_id" value="{$lists.id}" class="goods_id">
				<input type="hidden" name="goods_name" value="{$lists.goods_name}" class="goods_name">
				<input type="hidden" name="price" value="{$p}" class="price">
				<input type="hidden" name="image" value="{$lists.image}" class="image">
				<div class="style-list">
					<p>款式：</p>
					<div>
						<a href="javascript:void(0)" class="bg-green">舍离那里</a>
						<a href="javascript:void(0)">涉林绿</a>
						<a href="javascript:void(0)">涉林绿</a>
						<a href="javascript:void(0)">涉林绿</a>
						<a href="javascript:void(0)">哈哈-你不得哈哈</a>
						<a href="javascript:void(0)">咔咔咔</a>
						<a href="javascript:void(0)">啦啦</a>
						<a href="javascript:void(0)">爱南京市</a>
						<a href="javascript:void(0)">阿家具啊</a>
					</div>
				</div>
				<div class="style-list">
					<p>数量：</p>
					<div class="intro-jinumber">
						<input id="min" name="" type="button" value="-" / style="border: none; background-color: #f7f7f7;"> 
						<input id="text_box" name="count" type="text" value="1" style="width:30px;text-align: center;border:none" class="count"> 
						<input id="add" name="" type="button" value="+" / style="border: none; background-color: #f7f7f7;"> 
					</div>
				</div>
			</div>
			<div class="buy-footer">
				<div><a href="javascript:void(0)">
					<i class="iconfont">&#xe647;</i><sup>0</sup>
				</a></div>
				<input type="button" name="" value="加入购物车" class="cart">
				<input type="button" name="" style="background-color: red;color: white" value="立即购买" class="pay">
			</div>
		</div>
	</form>

	<div class="box-fixed">
		<div class="make-show clearfix doun">
			<div>
				<img src="__PUBLIC__/Home/images/7ea87c990023ad7.jpg" alt="">
			</div>
			<div>
				<a href="javascript:void(0)" class="now-buy">
					立即购买
				</a>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(function(){
			$('.cart').click(function() {
				var gid = $('.goods_id').val();
				var num = $('.count').val();
				var name = $('.goods_name').val();
				var price = $('.price').val();
				var image = $('.image').val();
				$.ajax({
					url 	 : "{:U('Home/Cart/cartlist')}",
					type 	 : "post",
					dataType : "json",
					data 	 : {goods_id:gid,count:num,goods_name:name,price:price,image:image},
					success  : function(res) {
						console.log(res);
						if (res.error_no == 0) {
							window.location.href = "{:U('Home/Index/index')}";
						} else {
							alert(res.msg);
						}
					}
				});
			});

			$('.pay').click(function() {
				var gid = $('.goods_id').val();
				var num = $('.count').val();
				var name = $('.goods_name').val();
				var price = $('.price').val();
				var image = $('.image').val();
				$.ajax({
					url 	 : "{:U('Home/order/ordertmp')}",
					type 	 : "post",
					dataType : "json",
					data 	 : {goods_id:gid,count:num},
					success  : function(res) {
						console.log(res);
						if (res.error_no == 0) {
							window.location.href = "/index.php/Home/order/confirmOrder?oid="+res.data.oid;
							// console.log(res);
						} else {
							alert(res.msg);
						}
					}
				});
			});
		})
	</script>

	<script src="__PUBLIC__/Home/js/info.js"></script>
	<script>
     $(window).scroll(function(){
      	var scrollHeight = $(window).scrollTop();
        var windowHeight = $(window).height();
      	var bodyHeight = $("body").height();
	    var textHeight = $(".info-tal").height();        
        console.log(scrollHeight+windowHeight)//400
        console.log(bodyHeight-textHeight)//1389
        if((scrollHeight+windowHeight) >= (bodyHeight-textHeight)){
           $(".doun").addClass("makeshow");
        }else{
        	$(".doun").removeClass("makeshow");
        }
      })
	</script>
</body>
</html>